.card-img-top {
    height: 300px;
    width: 270px;
}

.row {
    margin-bottom: 50px;
}

//dev-doom work
img.carouselimg {
    height: 675px;
    width: 100%;
}

p.sideH {
    margin-bottom: 7rem;
}

div.slide{
    margin-bottom: 5rem;
}
//dev-doom work
header {
    .h-100 {
        height: auto;
    }
    .xx{
        background-color: rgb(27, 27, 27);
    }
}

.logo {
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
    background: url(/img/logo.png);
}

.Rectanggle {
    left: 10%;
    margin: 0 20px 0 20px;
}

.bag {
    position: absolute;
    width: 16.13px;
    left: 85%;
    
    .cv{
        color: white;
    }
}


li {
    display: inline;
    margin-right: 10px;
}

li.price {
    text-decoration: line-through;
}






// todo All product
.product-add{
width: 100%;
li.add{
   

}
}
@media only screen and (max-width: 768px){
    //Dew

   
    header {
       
        .xx{
            background-color: rgb(253, 253, 253);
        }
    }

    ul{
        visibility:hidden;

    }
    .logo,.Rectanggle{
        visibility:hidden;
    }
    .bag .cv{
color: black;
    }

    //Doom
    img.carouselimg {
        height: 496px;
        width: 100%;
    }

    //Frist

    .col{
        margin-left: 18%;
        

    }
    
}

