.card-img-top {
  height: 300px;
  width: 270px;
}

.row {
  margin-bottom: 50px;
}

img.carouselimg {
  height: 675px;
  width: 100%;
}

p.sideH {
  margin-bottom: 7rem;
}

div.slide {
  margin-bottom: 5rem;
}

header .h-100 {
  height: auto;
}

header .xx {
  background-color: #1b1b1b;
}

.logo {
  margin: 0 20px 0 20px;
  width: 50px;
  height: 50px;
  background: url(/img/logo.png);
}

.Rectanggle {
  left: 10%;
  margin: 0 20px 0 20px;
}

.bag {
  position: absolute;
  width: 16.13px;
  left: 85%;
}

li {
  display: inline;
  margin-right: 10px;
}

li.price {
  text-decoration: line-through;
}

@media only screen and (max-width: 768px) {
  header .xx {
    background-color: #fdfdfd;
  }
  ul {
    visibility: hidden;
  }
  .logo, .Rectanggle {
    visibility: hidden;
  }
  .bag .cv {
    color: black;
  }
  .col {
    margin-left: 18%;
    
}
img.carouselimg 
    {
    height: 100%;
    width: 100%;
  }
}